@media screen and (max-width: 1024px) {


#border {
  border-bottom: 1px solid black;
  box-sizing: content-box;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #white;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

ul a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

ul a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 73px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle span, #menuToggle input {
  margin-left: 54px;
}

#menuToggle input {
  display: block;
  width: 24vw;
  height: 15vw;
  position: absolute;
  top: -17vw;
  left: -13vw;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 49px;
  height: 6px;
  margin-bottom: 8px;
  position: relative;
  top: -13vw;
  left: -7vw;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menutoggle {
  margin-top: -50%;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 230px;
  margin: -36% 0 0 -50px;
  padding: 50px;
  padding-top: 95px;
  height: 162vw;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked~ul {
  transform: none;
}

.accueil {
  font-size: 6vw;
}

.hrefcoem {
  font-size: 6vw;
}

.hrefinfprat {
  font-size: 6vw;
}

.hrefventethem {
  font-size: 6vw;
}

.hrefcont {
  font-size: 6vw;
}

.hrefanivem {
  font-size: 6vw;
}

.hrefdompriv {
  font-size: 6vw;
}

.liaccueil {
  padding: 10px 0;
  margin-left: 20%;
}

.licoem {
  padding: 10px 0;
  margin-left: 20%;
}

.linfprat {
  padding: 10px 0;
  margin-left: 20%;
}

.liventthem {
  padding: 10px 0;
  margin-left: 20%;
}

.licont {
  padding: 10px 0;
  margin-left: 20%;
}

.lianivem {
  padding: 10px 0;
  margin-left: 20%;
}

.lidompv {
  padding: 10px 0;
  margin-left: 20%;
}

.titre {
  float: left;
  font-family: sans-serif;
  color: black;
  font-size: 4vw;
  margin-left: 7vw;
}

.emmaus {
    margin-top: -16vw;
  margin-right: -3vw;
  height: 24vw;
  float: right;
  margin-bottom: 2%;
}

.borderr {
  border-bottom: 0, 5px solid black;
  box-sizing: content-box;
  clear: both;
  top: 2%;
}

.headcouleur {
  background-color: #2c4491;
}

.menleg {
  text-align: left;
  text-decoration: none;
  color: white;

}

.contactinfo {
  padding: 0 auto;
  text-decoration: none;
  color: white;
  margin-left: 17vw;
}

.formubene {
  text-align: left;
  text-decoration: none;
  color: white;
  margin-left: 16vw;
}

.formucol {
  text-align: left;
  text-decoration: none;
  color: white;
  margin-left: 4vw;
}

.polconfi {
  text-align: left;
  text-decoration: none;
  color: white;

}

.polcookie {
  text-align: left;
  text-decoration: none;
  color: white;

}

.footer {
  background-color: #2c4491;
  height: 28vw;
}

.emrouen {
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.liemrouen {
  padding: 10px 0;
  margin-left: 20%;
}

.fleche1 {
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.emfrance {
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.liemfrance {
  padding: 10px 0;
  margin-left: 20%;
}

.fleche2 {
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.eminter {
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.lieminter {
  padding: 10px 0;
  margin-left: 20%;
  text-align: left;
}

.fleche3 {
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.emeste {
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.liemeste {
  padding: 10px 0;
  margin-left: 20%;
  text-align: left;
}

.fleche4 {
  float: left;
  height: 7vw;
  margin-top: 2vw;
  margin-left: 10vw;
}

.largeur {
  margin-left: 10%;
  width: 80%;
  background-color: white;
  margin-top: 4%;
  color: black;
  padding-right: 2vw;
border: 4px solid white;
margin-left: 5vh;
text-align: center;
}

.largeurcouleurgris {
  background-color: #f2f2f2;
      margin-top: -4vw;

}

.abep {
  margin-top: 0vw;
}

.divlien {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

.abbepierre {
  width: 90%;
  margin-left: 5%;
  border: 4px solid white;
}

.signature{
  text-align: right;
  margin-right: 5%;
}

.lienpages{
  display: none;

}


}



@media screen and (min-width: 1024px) {
  .largtext {
    width: 60%;
    margin-left: 20%;
    background-color: white;
  }

  .emmaus {
    width: 6vw;
    position: relative;
    float: left;
    margin-top: -18vh;
      margin-left: 25vw;
}


  .backcolorgrey {
    background-color: #f2f2f2;
    width: 100%;
  }

  .headcouleur {
    width: 100%;
    background-color: #2c4491;
    height: 10vh;
  padding-left: 15%;
  margin-top:-1vw;
  }

  .titre {
    margin-left: 23vw;
    padding-top: 1vw;
    color: white;
    position: relative;
    top: 15pt;
      left: -2vw;
  font-size: 2vh;
  clear: both;
  }

.icon{
  margin-left: 17vw;
margin-top: -6vh;
background-color: #2c4491;
}

  .twit {
    height: 3vh;
    display: table-cell;
vertical-align: middle;
height: 18pt;
    margin-top: 17pt;

  }

  .insta {
    display: table-cell;
        vertical-align: middle;
        height: 3vh;
        height: 18pt;
            margin-top: 4pt;
  }

  .fb {
    display: table-cell;
        vertical-align: middle;
        height: 3vh;
        height: 18pt;
            margin-top: 4pt;
  }



.licont{
  margin-left: 6vw;
    margin-top: 1vh;
    float: left;
}

.lianivem{
      margin-top: 1vh;

}

.lidompv{
      margin-top: 1vh;
}

.fleche1{
  display: none;
}

.fleche2{
  display: none;
}

.fleche3{
  display: none;
}

.fleche4{
  display: none;
}

.footer {
  background-color: #2c4491;

}

.divlien a{
text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
margin-top: 1vw;
margin-bottom: 1vw;
margin-left: 2vw;
}

.divlien{
  display: flex
  color: white;
  text-decoration: none;
  text-align: center;

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2c4491;
}

header div div.divduturfu {
  display: flex;
  align-items: center;
  padding-left: 12rem;
}

.divduturfu a {
  width: auto;
}

.icons {
  display: flex;
  flex-direction: column;
}

.icons img {
  padding-top: 6%;
  width: 45%;
}

div.mobile-hidden {
  display: flex;
}

#title {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 2rem;
}

header div ul {
  padding: 0;
  display: flex;
  align-items: center;
  padding-right: 12rem;
  font-size: 13px;

}

header div ul li a {
  color: #fff;
  padding-left: 1rem;
}

.abbepierre{
  width: 90%;
  border: 4px solid white;
  margin-left: 5%;
}
.abep{
  text-align: left;
    font-size: 111%;
    width: 100%;

}

.signature{
  margin-left: 81%;
  font-style: italic;
}

.bouton1{
  background-color: #2c4491;
  color: #2c4491;
}

.lienpages button{
  background-color: #2c4491;
color: white;
height: 3rem;
display: flex;


}
.lienpages{
  display: flex;
  justify-content: center;
}
.bouton1{
      width: 100%;
      text-align: center;
}
.bouton2{
      width: 100%;
      text-align: center;
}
.bouton3{
  width: 100%;
  text-align: center;
}
.bouton4{
  width: 100%;
  text-align: center;
}






}
