@media screen and (max-width: 1024px) {



#border {
  border-bottom: 1px solid black;
  box-sizing: content-box;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #white;
  color:black;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

ul a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

ul a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 73px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle span, #menuToggle input {
  margin-left: 54px;
}

#menuToggle input {
  display: block;
  width: 24vw;
  height: 15vw;
  position: absolute;
  top: -17vw;
  left: -13vw;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 49px;
  height: 6px;
  margin-bottom: 8px;
  position: relative;
  top: -13vw;
  left: -7vw;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menutoggle {
  margin-top: -50%;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 230px;
  margin: -36% 0 0 -50px;
  padding: 50px;
  padding-top: 95px;
  height: 162vw;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked~ul {
  transform: none;
}

.titre {
  float: left;
  font-family: sans-serif;
  color: black;
  font-size: 4vw;
  margin-left: 7vw;
}

.emmaus {
      margin-top: -16vw;
  margin-right: -3vw;
  height: 24vw;
  float: right;
  margin-bottom: 2%;
}

.headcouleur {
  background-color: #2c4491;
}

.preci1 {
  text-align: center;
  font-style: italic;
  color: black;
}

.dott {
  border-style: dashed;
}

.loca {
  text-align: center;
  color: black;
}

.lastb {
  margin-top: 5%;
}

.ferme {
  font-style: bold;
  color: black;
}

.menleg {
  text-align: left;
  text-decoration: none;
  color: white;
}

.contactinfo {
  text-align: left;
  text-decoration: none;
  color: white;
}

.formubene {
  text-align: left;
  text-decoration: none;
  color: white;
}


.polconfi {
  text-align: left;
  text-decoration: none;
  color: white;
}

.polcookie {
  text-align: left;
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #033981;
  height: 28vw;
}

.divlien {
  padding-top: 4vw;
}

.divfondcouleur {
  background-color: #f2f2f2;
  padding-bottom: 2%;
}

.accueil {
  font-size: 6vw;
}

.hrefcoem {
  font-size: 6vw;
}


.hrefinfprat {
  font-size: 6vw;
}

.hrefventethem {
  font-size: 6vw;
}

.hrefcont {
  font-size: 6vw;
}

.hrefanivem {
  font-size: 6vw;
}

.hrefdompriv {
  font-size: 6vw;
}

.liaccueil {
  padding: 10px 0;
  margin-left: 20%;
}

.licoem {
  padding: 10px 0;
  margin-left: 20%;
}

.linfprat {
  padding: 10px 0;
  margin-left: 20%;
}

.liventthem {
  padding: 10px 0;
  margin-left: 20%;
}

.licont {
  padding: 10px 0;
  margin-left: 20%;
}

.lianivem {
  padding: 10px 0;
  margin-left: 20%;
}

.lidompv {
  padding: 10px 0;
  margin-left: 20%;
}

.borderr {
  border-bottom: 0, 5px solid black;
  box-sizing: content-box;
  clear: both;
  top: 2%;
}

.bradtxt{
  text-align:center;
  color:black;
  font-size:5vw;
}

.bordertxt{
  border-radius: 2px 2px;
}
.menleg {
  text-align: left;
  text-decoration: none;
  color: white;

}

.contactinfo {
  padding: 0 auto;
  text-decoration: none;
  color: white;
  margin-left: 17vw;
}

.formubene {
  text-align: left;
  text-decoration: none;
  color: white;
  margin-left: 16vw;
}

.formucol {
  text-align: left;
  text-decoration: none;
  color: white;
  margin-left: 4vw;
}

.polconfi {
  text-align: left;
  text-decoration: none;
  color: white;

}

.polcookie {
  text-align: left;
  text-decoration: none;
  color: white;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {

  background-color: #033981;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.titrecont{
  text-align: center;
  color: black;

}

div.captcha {
    width: 220px;
    border: 1px solid #999;
    background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAEBAQEBAQEBAQEBAQEB…5u+gRy7v0Au79ALu/QI5bF7KAFsXsoAWxeygEauny4BdPlwC6fLgaDVvLbgNW8tuA1by24H//Z) repeat-x bottom left #fff;
    padding: 10px;
}
.clearover, div.captcha {
    overflow: hidden;
}
div {
    display: block;
}

.note{
  color: black;
  text-align: left;
  padding-left:2vw;
  font-size: 4vw;
}

.infocontact{
  color: black;
  text-align: center;
  padding:5vw;
  margin-top:-4vw
}
}

@media screen and (min-width: 1024px) {
  .largeur {
    width: 60%;
    margin-left: 20%;
    background-color: white;
  }

  .emmaus {
    width: 6vw;
    position: relative;
    float: left;
    margin-top: -19vh;
  margin-left: 5vw;
  }

  .largeurcouleurgris {
    background-color: #f2f2f2;
    width: 100%;
    margin-top: -1vw;

  }

  .headcouleur {
    width: 100%;
    background-color: #2c4491;
    height: auto;
    padding-left: 15%;
    margin-top: -1vw;
  }

  .titre {
    margin-left: 23vw;
    color: white;
    position: relative;
    top: 35%;
    left: -6vw;
    font-size: 1.2rem;
    clear: both;
  }

  .icon {
    margin-left: 10%;
    margin-top: -3%;
    background-color: #2c4491;
  }

  .reseaux img.logo {
    width: 1.5%;
    height: 1.5%;
    margin-left: -2%;
  }

  .reseaux {
    top: -4%;

  }

  .twit {
    display: table-cell;
    vertical-align: middle;
    height: 18pt;
    margin-top: -5.5%;
  }

  .insta {
    display: table-cell;
    vertical-align: middle;
    height: 18pt;
    margin-top: 4pt;
  }

  .fb {
    display: table-cell;
    vertical-align: middle;
    height: 18pt;
    margin-top: 4pt;
  }

  ul {
    list-style-type: none;

  }

  ul a {
    text-decoration: none;
  }

  .licont {
    margin-left: 6vw;
    margin-top: 1vh;
    float: left;
  }

  .lianivem {
    margin-top: 1vh;
  }

  .lidompv {
    margin-top: 1vh;
  }

  .borderr {
    margin-top: 2vw;
  }
  input[type="checkbox"]{
    display: none;
  }

  .desktop-hidden{
    display: none;
  }
  .logo {
    width: 8em;
    margin-top: 1%;
  }

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #2c4491;
          padding-bottom: 1%;
    }

    header div div.divduturfu {
      display: flex;
      align-items: center;
      padding-left: 12rem;
    }

    .divduturfu a {
      width: auto;
    }

    .icons {
      display: flex;
      flex-direction: column;
    }

    .icons img {
      padding-top: 6%;
      width: 45%;
    }

    div.mobile-hidden {
      display: flex;
    }

    #title {
      color: white;
      text-decoration: none;
      font-size: 1.3rem;
      margin-left: 2rem;
    }

    header div ul {
      padding: 0;
      display: flex;
      align-items: center;
      padding-right: 12rem;
      font-size: 13px;

    }

    header div ul li a {
      color: #fff;
      padding-left: 1rem;
    }

.container{
  display: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #2c4491;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.containerr {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
.infocontact{
  width: 80%;
  margin-left: 10%;
}
.titrecont{
  margin-left: 10%;
  font-weight: bold;
}

  }
