@media screen and (max-width: 1024px) {



#border {
  border-bottom: 1px solid black;
  box-sizing: content-box;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #white;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

ul a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

ul a:hover {

  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 73px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle span, #menuToggle input {
  margin-left: 54px;
}

#menuToggle input {
  display: block;
  width: 24vw;
  height: 15vw;
  position: absolute;
  top: -17vw;
  left: -13vw;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 49px;
  height: 6px;
  margin-bottom: 8px;
  position: relative;
  top: -13vw;
  left: -7vw;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menutoggle {
  margin-top: -50%;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 230px;
  margin: -36% 0 0 -50px;
  padding: 50px;
  padding-top: 95px;
  height: 162vw;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked~ul {
  transform: none;
}

.titre {
  float: left;
  font-family: sans-serif;
  color: black;
  font-size: 4vw;
  margin-left: 7vw;
}

.emmaus {
  margin-top: -16vw;
  margin-right: -3vw;
  height: 24vw;
  float: right;
  margin-bottom: 2%;
}

.art1 {
  width: 100%;
}

.imageemmaus {
  text-align: center;
}

.borderr {
  border-bottom: 0, 5px solid black;
  box-sizing: content-box;
  clear: both;
  top: 2%;
}

.titrea1 {
  text-align: center;
  font-style: bold;
  color: black;
  font-family: monospace;
}

.headcouleur {
  background-color: #2c4491;
}

.depocomu{
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.lidepocomu{
  padding: 10px 0;
  margin-left: 20%;
}

.fleche1 {
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.enlevdomi{
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.lienlevdomi{
  padding: 10px 0;
  margin-left: 20%;
}

.fleche2{
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.menleg {
  text-align: left;
  text-decoration: none;
  color: white;
}

.contactinfo {
  text-align: left;
  text-decoration: none;
  color: white;
}

.formubene {
  text-align: left;
  text-decoration: none;
  color: white;
}


.polconfi {
  text-align: left;
  text-decoration: none;
  color: white;
}

.polcookie {
  text-align: left;
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #2c4491;
}

.divlien {
  padding-top: 4vw;
}

.divfondcouleur {
  background-color: #f2f2f2;
  padding-bottom: 2%;
}

.accueil {
  font-size: 6vw;
}

.hrefcoem {
  font-size: 6vw;
}


.hrefinfprat {
  font-size: 6vw;
}

.hrefventethem {
  font-size: 6vw;
}

.hrefcont {
  font-size: 6vw;
}

.hrefanivem {
  font-size: 6vw;
}

.hrefdompriv {
  font-size: 6vw;
}

.liaccueil {
  padding: 10px 0;
  margin-left: 20%;
}

.licoem {
  padding: 10px 0;
  margin-left: 20%;
}

.linfprat {
  padding: 10px 0;
  margin-left: 20%;
}

.liventthem {
  padding: 10px 0;
  margin-left: 20%;
}

.licont {
  padding: 10px 0;
  margin-left: 20%;
}

.lianivem {
  padding: 10px 0;
  margin-left: 20%;
}

.lidompv {
  padding: 10px 0;
  margin-left: 20%;
}

.depocomu{
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.lidepocomu{
  padding: 10px 0;
  margin-left: 20%;
}

.fleche1 {
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.enlevdomi{
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.lienlevdomi{
  padding: 10px 0;
  margin-left: 20%;
}

.fleche2{
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}





.ndb{
  color: black;
  margin-top: 14vw;
}

.ndb1{
  width: 90%;
}

.artndb1{
  font-size: 4vw;
  text-align: left;
  margin-left: 3vw;
  color: black;
}

.soutgras{
  font-size: 4vw;
  text-align: left;
  margin-left: 3vw;
  color: black;
}

.largeur{
  width: 90%;
  background-color: white;
  margin-left: 5%;
  margin-top:-12vw;
}

.largeurcouleurgris{
  background-color: #f2f2f2;
  margin-top: -2vw;
}

.ndb2{
  width: 90%;
}

.artndb2{
  font-size: 4vw;
  text-align: left;
  margin-left: 3vw;
  color: black;
}

.ndb3{
  width: 95%;
}

.lienpages{
  display: none;
}

}





@media screen and (min-width: 1024px) {
  .largeur {
    width: 60%;
    margin-left: 20%;
    background-color: white;
  }

  .emmaus {
    width: 6vw;
    position: relative;
    float: left;
    margin-top: -19vh;
  margin-left: 5vw;
  }

  .largeurcouleurgris {
    background-color: #f2f2f2;
    width: 100%;
    margin-top: -1vw;

  }

  .headcouleur {
    width: 100%;
    background-color: #2c4491;
    height: auto;
    padding-left: 15%;
    margin-top: -1vw;
  }

  .titre {
    margin-left: 23vw;
    color: white;
    position: relative;
    top: 35%;
    left: -6vw;
    font-size: 1.2rem;
    clear: both;
  }

  .icon {
    margin-left: 10%;
    margin-top: -3%;
    background-color: #2c4491;
  }

  .reseaux img.logo {
    width: 1.5%;
    height: 1.5%;
    margin-left: -2%;
  }

  .reseaux {
    top: -4%;

  }

  .twit {
    display: table-cell;
    vertical-align: middle;
    height: 18pt;
    margin-top: -5.5%;
  }

  .insta {
    display: table-cell;
    vertical-align: middle;
    height: 18pt;
    margin-top: 4pt;
  }

  .fb {
    display: table-cell;
    vertical-align: middle;
    height: 18pt;
    margin-top: 4pt;
  }

  ul {
    list-style-type: none;

  }

  ul a {
    text-decoration: none;
  }

  .licont {
    margin-left: 6vw;
    margin-top: 1vh;
    float: left;
  }

  .lianivem {
    margin-top: 1vh;
  }

  .lidompv {
    margin-top: 1vh;
  }

  .borderr {
    margin-top: 2vw;
  }
  input[type="checkbox"]{
    display: none;
  }

  .desktop-hidden{
    display: none;
  }
  .logo {
    width: 8em;
    margin-top: 1%;
  }

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #2c4491;
    }

    header div div.divduturfu {
      display: flex;
      align-items: center;
      padding-left: 12rem;
    }

    .divduturfu a {
      width: auto;
    }

    .icons {
      display: flex;
      flex-direction: column;
    }

    .icons img {
      padding-top: 6%;
      width: 45%;
    }

    div.mobile-hidden {
      display: flex;
    }

    #title {
      color: white;
      text-decoration: none;
      font-size: 1.3rem;
      margin-left: 2rem;
    }

    header div ul {
      padding: 0;
      display: flex;
      align-items: center;
      padding-right: 12rem;
      font-size: 13px;

    }

    header div ul li a {
      color: #fff;
      padding-left: 1rem;
    }

.ndb{
text-align: center;

}

.ndb1{
  display: block;
  margin: auto auto;
}

.artndb1{
  margin-left: 5%;
  margin-bottom: 5%;
}

.soutgras{
  font-weight: bold;
  font-size: 120%;
  margin-left: 4%;
  margin-top: 5%;
}

.ndb2{
  margin-left: 15%;
}

.artndb2{
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.ndb3{
  margin-left:10%;
  margin-top: 5%;
}

.lienpages button{
  background-color: #2c4491;
color: white;
height: 3rem;
display: flex;
}
.lienpages{
  display: flex;
justify-content: center;
}
  }
