.twit {
  margin-right: 1%;
  margin-top: 1%;
  float: right;
  height: 35px;
}

.insta {
  margin-right: 1%;
  margin-top: 3%;
  ;
  float: right;
  height: 22px;
}

.fb {
  margin-right: 1%;
  margin-top: 1%;
  float: right;
  height: 35px;
}

#border {
  border-bottom: 1px solid black;
  box-sizing: content-box;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  /* make it look decent enough */
  background: #white;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

ul a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

ul a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: relative;
  top: 73px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle span, #menuToggle input {
  margin-left: 54px;
}

#menuToggle input {
  display: block;
  width: 24vw;
  height: 15vw;
  position: absolute;
  top: -17vw;
  left: -13vw;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 49px;
  height: 6px;
  margin-bottom: 8px;
  position: relative;
  top: -13vw;
  left: -7vw;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menutoggle {
  margin-top: -50%;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 230px;
  margin: -115px 0 0 -50px;
  padding: 50px;
  padding-top: 95px;
  height: 162vw;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked~ul {
  transform: none;
}

.titre {
  float: left;
  font-family: sans-serif;
  color: black;
  font-size: 4vw;
  margin-left: 7vw;
}

.emmaus {
  margin-top: -10vw;
  margin-right: -3vw;
  height: 24vw;
  float: right;
  margin-bottom: 2%;
}

.art1 {
  width: 100%;
}

.imageemmaus {
  text-align: center;
}

.borderr {
  border-bottom: 0, 5px solid black;
  box-sizing: content-box;
  clear: both;
  top: 2%;
}

.titrea1 {
  text-align: center;
  font-style: bold;
  color: black;
  font-family: monospace;
}

.headcouleur {
  background-color: #2c4491;
}

.preci1 {
  text-align: center;
  font-style: italic;
  color: black;
}

.dott {
  border-style: dashed;
}

.loca {
  text-align: center;
  color: black;
}

.lastb {
  margin-top: 5%;
}

.ferme {
  font-style: bold;
  color: black;
}

.menleg {
  text-align: left;
  text-decoration: none;
  color: white;
}

.contactinfo {
  text-align: left;
  text-decoration: none;
  color: white;
}

.formubene {
  text-align: left;
  text-decoration: none;
  color: white;
}


.polconfi {
  text-align: left;
  text-decoration: none;
  color: white;
}

.polcookie {
  text-align: left;
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #2c4491;
  height: 39vw;
}

.divlien {
  padding-top: 4vw;
}

.divfondcouleur {
  background-color: #f2f2f2;
  padding-bottom: 2%;
}

.accueil {
  font-size: 6vw;
}

.hrefcoem {
  font-size: 6vw;
}


.hrefinfprat {
  font-size: 6vw;
}

.hrefventethem {
  font-size: 6vw;
}

.hrefcont {
  font-size: 6vw;
}

.hrefanivem {
  font-size: 6vw;
}

.hrefdompriv {
  font-size: 6vw;
}

.liaccueil {
  padding: 10px 0;
  margin-left: 20%;
}

.licoem {
  padding: 10px 0;
  margin-left: 20%;
}

.linfprat {
  padding: 10px 0;
  margin-left: 20%;
}

.liventthem {
  padding: 10px 0;
  margin-left: 20%;
}

.licont {
  padding: 10px 0;
  margin-left: 20%;
}

.lianivem {
  padding: 10px 0;
  margin-left: 20%;
}

.lidompv {
  padding: 10px 0;
  margin-left: 20%;
}

.sanabp{
  font-size: 5vw;
  position: relative;
  left: 3vw;
}

.lisanabp{
  padding: 10px 0;
  margin-left: 20%;
}

.fleche1 {
  float: left;
  height: 7vw;
  margin-top: 1vh;
  margin-left: 10vw;
}

.imgabbep{
  width: 100%;
}

.appel{
  color: black;
  font-size: 6vw;
}

.fondcouleurblanc{
  width: 90%;
  background-color: white;
  margin-left: 5%;
  margin-top:-12vw;
}

.fondcouleurgris{
  background-color: #f2f2f2;
  margin-top: -2vw;
}

.discour{
  color: black;
  text-align: left;
  padding:2vw;
}
